:root {
    --primary-color: #e53265;
    --secondary-color: #a2022f;
    --background-color: #110f10;
    scrollbar-color: var(--primary-color) var(--background-color);
}

html,
body {
    margin: 0;
    padding: 0;
    ::selection {
        color: #000;
        background-color: var(--primary-color);
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-family: 'Dela Gothic One', sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
    filter: blur(4px);
  }

  20% {
    opacity: 0.3;
    transform: translateY(35px) translateX(-4px);
  }

  25% {
    opacity: 0.8;
    transform: translateY(30px) translateX(5px);
  }

  30% {
    opacity: 0.4;
    transform: translateY(25px) translateX(-3px);
  }

  40% {
    opacity: 1;
    transform: translateY(20px) translateX(2px);
    filter: blur(1px);
  }

  50% {
    transform: translateY(15px) translateX(-6px) skewX(3deg);
  }

  55% {
    transform: translateY(12px) translateX(4px) skewX(-2deg);
  }

  65% {
    transform: translateY(8px) translateX(-2px);
  }

  75% {
    transform: translateY(4px) translateX(1px);
    filter: blur(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) translateX(0) skewX(0);
    filter: blur(0);
  }
}

.fade-in {
    animation: fadeIn linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
}